.vscode/

local.settings.json
__pycache__/
*.pyc
.python_packages/

__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
__blobstorage__/
__queuestorage__/
AzuriteConfig 

.venv/
env/
venv/
.env/

tests/
*.zip
*.tar.gz
*.pytest_cache/
.tox/
*.jpg
*.jpeg
*.png
